
.header__content {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: #00D7FF;
  display: flex;
  justify-content: space-between;
  height: 70px;

  .header__content_left {
    display: flex;
    font-size: 13px;

    img {
      padding: 0 100px;
      width: 70px;
      height: 70px;
    }
  }
  .header__content_right {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 450;

    button {
      padding: 5px;
      margin: 0 45px 0 15px;
      cursor: pointer;
      background: transparent;
      outline: none; /* Для синий ободки */
      border: black 1px solid;

      img {
        width: 10px;
      }

      &:hover {
        transition: 500ms;
        opacity: 0.7;
      }
    }
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 23px;
    }
    .header__content_left {
      img {
        padding: 0 35px;
      }
    }
  }
  @media (max-width: 450px) {
    .header__content_left {
      h1 {
        font-size: 18px;
        display: flex;
        align-items: center;
      }

      img {
        padding: 0 20px;
      }
    }
    .header__content_right {
      button {
        margin: 0 10px 0 15px;
      }

      span {
        font-size: 15px;
      }
    }
  }
}